extends layout

block content
  h1= title 
  br
  - var results = [{type: "potato",price: 4.5, weight: 2lb},{type: "tomato",price: 5.6,weight: 4lb},{type: "cabbage",price: 2.7,weight: 3lb}];
   div(class = "container-fluid")
    div(class = "row")
     each i,index in results
        div(class="col-sm-4" onclick=`buy(${index})`) flavour: #{i.type} 
        br
        br 
        div(class="col-sm-4" onclick=`buy(${index})`) price: #{i.price}
        br
        br  
        div(class="col-sm-4" onclick=`buy(${index})`) toppings: #{i.weight}
        script.
                function buy(itemNo){
                    alert(`You purchased item ${itemNo+1}`)
                }